# Virtual environment folder
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo

# VSCode settings folder (optional)
.vscode/

# OS files (macOS, Windows)
.DS_Store
Thumbs.db

# Txt files
notes.txt
admin_notes.txt
test_inputs.txt

# py files
ignore.py

# Ignore data files
prompts/prompt_v4.txt
prompts/prompt_v5.txt
prompts/prompt_v6.txt
prompts/prompt_v7.txt
prompts/prompt_v8.txt
prompts/prompt_v9.txt
prompts/prompt_v11.txt